html, body {
	margin: 0;
	padding: 0;
	font-family: arial;
	background: #D2D2D2;
}
textarea {
	margin-left: 35px;
	margin-top: 5px;
	resize: none;
	width: 400px;
	border-color: #D2D2D2;
	border-radius: 8px;
}
button {
	cursor: pointer;
}
#center-container {
	padding: 0;
	width: 960px;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
}
.text-add {
	color: #8C8C8C;
	padding-top: 20px;
	padding-left: 35px;
}
#column-left {
	padding-left: 15px;
	width: 470px;
	float: left;
	margin-top: 50px;
}
#column-right {
	width: 470px;
	float: right;
	margin-top: 50px;
}
#block-add {
	background: white;
	margin-top: 20px;
}
#header_left {
	font-size: 20px;
}
#header_right {
	font-size: 20px;
}
#name-add-new {
	height: 40px;
}
#discription-add-new {
	height: 200px;
}
#button-main {
	color: white;
	background-color: #4457FF;
	border: none;
	padding: 10px 50px;
	margin-left: 35px;
	margin-top: 15px;
	margin-bottom: 25px;
}
.todaytask {
	margin: 20px;
	color: red;
	background: #191919;
}
#list-of-tasks {
	margin-top: 20px;
	width: 465px;
	height: 500px;
}
#view-of-task {
	background-color: white;
	width: 465px;
	margin-bottom: 15px;
}
#clear {
	margin-top: 20px;
	color: #8C8C8C;
}
#name-new-here {
	padding-right: 15px;
	padding-top: 15px;
	padding-bottom: 13px;
	padding-left: 20px;
	font-size: 16px;
	border-bottom: 1px solid #c9c9c9;
}
#d-new-here {
	height: 0;
	padding-right: 15px;
	padding-left: 20px;
	padding-top: 15px;
	color: #8C8C8C;
	padding-bottom: 40px;
}
.delete-button {
	cursor: pointer;
	border: none;
	float: right;
	width: 15px;
	height: 15px;
	background-image: url(img/Red-Close-Button.png);
	background-repeat: no-repeat;
	margin-right: 15px;
	margin-top: 15px;
}
.hide-button {
	cursor: pointer;
	float: right;
	border: none;
	width: 15px;
	height: 15px;
	background-image: url(img/open.png);
	background-repeat: no-repeat;
	margin-right: 15px;
	margin-top: 15px;
}
.show-button {
	cursor: pointer;
	float: right;
	border: none;
	width: 15px;
	height: 15px;
	background-image: url(img/hide.png);
	background-repeat: no-repeat;
	margin-right: 15px;
	margin-top: 15px;
	display: none;
}
#display-mobile {
	display: none;
	justify-content: center;
	flex-wrap: wrap;
}
#sorry {
	background-color: white;
	align-items: center;
	font-size: 20px;
	font-weight: bold;
	width: 60%;
	margin-top: 100px	
}
#rus-sorry {
	padding: 20px 10px;
	text-align: center;

}
#eng-sorry {
	padding-bottom: 20px;
	padding-left: 10px;
	padding-right: 10px;
	text-align: center;
}

@media screen and (max-width: 1000px) {
	#center-container {
		width: auto;
	}
}
@media screen and (max-width: 970px) {
	#center-container {
		flex-direction: column-reverse;
		align-content: center;
	}
	#column-right {
		padding-left: 15px;
	}
}
@media screen and (max-width: 520px) {
	#column-left, #column-right {
		width: 400px;
	}
	#name-add-new, #discription-add-new {
		width: 330px;
		margin-left: 30px;
	}
	#button-main {
		margin-left: 30px;
	}
}
@media screen and (max-width: 450px) {
	#column-left, #column-right {
		width: 300px;
	}
	#name-add-new, #discription-add-new {
		width: 250px;
		margin-left: 20px;
	}
	#button-main {
		margin-left: 20px;
	}
	.text-add {
		padding-left: 20px;
	}
}